@import url("animate.min.css");



html {
    opacity: 0; /* [1] */
    transition: opacity 0.5s ease; /* [3] */
}

html.active {
    opacity: 1; /* [2] */
}





.bp1-iphone, .bp2-iphone, .bp3-iphone, .bp4-iphone, .bp5-iphone, .bp6-iphone {
	  animation: Clouds 4s steps(100) infinite alternate;
}


@-webkit-keyframes Clouds {
   from {
        top:10%;
    }
    to { 
        top: 16%;
    }

}
@-moz-keyframes Clouds {
     from {
        top:10%;
    }
    to { 
        top: 16%;
    }
}
@-ms-keyframes Clouds {
    from {
        top:10%;
    }
    to { 
        top: 16%;
    }
}